<html>
<link rel="stylesheet" type="text/css" href="<%=url("/product_add.css")%>">
<div class ="product_add_form">
<form action="/user/add" method="post">

  
   <label for="product_name">Product Name:</label> 
   <input type="text" name="product_name" placeholder="Crystal Red Shrimp" maxlength="24" />
        <br>
    <label for="description">Description:</label> 
    <input type="text" name="description" placeholder="SS Grade" maxlength="24"/>
        <br>
    <label for="product_image">Image URL:</label> <input type="text" name="product_image" placeholder="Paste here" />
        <br> 
    <label for="price">Price:</label> 
    <input type="money" name="price" placeholder="5.00"/>
        <br> 
    <label for="product_quantity">Quantity:</label> 
    <input type="number" name="product_quantity" placeholder="10"/>
        <br>
    <input type="submit" value="Swap!"/>
    </form>
  </div>
</html>