<<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="<%=url("/index.css")%>">
	<title>Welcome to Aqua Swap! </title>
</head>
<body>
	<h1>Welcome to Aqua Swap!</h1>
</body>
</html>