.product_add_form {
	background-color: rgba(255,255,255,0.7);
	display: block;
	border-radius: 1em;
	padding: 4em;
	width: 15%;
	margin:auto;
}


label {
	display: inline-block;
	color:black;
	float:left;
	clear:left;
	text-align: right;
	font-weight: bold;
}
input {
	display: inline-block;
	float: right;
	clear: right;
}

html {
	background-repeat: no-repeat;
	background-image: url("http://imgur.com/eL33LN0.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}