.item_for_sale li {
	display: inline-block;
	background-color: rgba(255,255,255,0.7);
	width: 14.9em;
	padding: 1em;
	height: 25em;
}

.item_for_sale {
	width: 90%;
	margin: auto;
}

.item_box{
	margin: auto;
}

img {
	width: 14.9em;
	height: 10em;
	margin: auto;
}

.number {
	width: 3em;
}

legend {
	font-weight: bold;
}