.container {
	width: 100%;
	margin:0 auto;
	text-align: center;
}
header {
	font-weight: bold;
}

h1 {
	background-color: rgba(255,255,255,0.5);
	display: inline-block;
	border-radius: 1em;
	padding: 0.3em;
}

nav ul li{
	display: inline-block;
	min-height: 3em;
	min-width: 10em;
	border-radius: 0.5em;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	box-sizing:border-box;
	line-height: 3em;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

