.@{fa-css-prefix} {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
	width: 100%;
	margin:0 auto;
	text-align: center;
}
header {
	font-weight: bold;
}

nav ul li{
	display: inline-block;
	min-height: 3em;
	min-width: 10em;
	border-radius: 0.5em;
	text-align: center;
	background-color: #EEE;
	background-color: rgba(255,255,255,0.5);
	box-sizing:border-box;
	line-height: 3em;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

html {
	background-repeat: no-repeat;
	background-image: url("http://i.imgur.com/5SStPHi.jpg");
	background-size: cover;
	height: 100%;
}